USE [BankReconciliationTracker]
GO
/****** Object:  Table [dbo].[audit_trail]    Script Date: 05/26/2025 15:52:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[audit_trail](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[user_id] [int] NULL,
	[action] [nvarchar](255) NULL,
	[details] [nvarchar](max) NULL,
	[timestamp] [datetime] NULL,
	[ip_address] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[bank]    Script Date: 05/26/2025 15:52:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[bank](
	[id] [int] NOT NULL,
	[name] [nvarchar](50) NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[bank_account]    Script Date: 05/26/2025 15:52:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[bank_account](
	[id] [int] NOT NULL,
	[name] [nvarchar](50) NOT NULL,
	[bank_id] [int] NOT NULL,
	[currency_id] [int] NOT NULL,
	[strategic_business_unit_id] [int] NOT NULL,
	[creation_date] [datetime] NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[bank_account_responsible_user]    Script Date: 05/26/2025 15:52:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[bank_account_responsible_user](
	[id] [int] NOT NULL,
	[bank_account_id] [int] NOT NULL,
	[user_id] [int] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[currency]    Script Date: 05/26/2025 15:52:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[currency](
	[id] [int] NOT NULL,
	[name] [nvarchar](50) NOT NULL,
	[code] [nvarchar](50) NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[file_upload]    Script Date: 05/26/2025 15:52:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[file_upload](
	[id] [int] NOT NULL,
	[batch_id] [int] NOT NULL,
	[file_name] [nvarchar](50) NOT NULL,
	[bank_account_id] [int] NOT NULL,
	[year] [int] NOT NULL,
	[month] [int] NOT NULL,
	[removed_by_user_on_upload_page] [bit] NOT NULL,
	[creation_datetime] [datetime] NOT NULL,
	[submission_status] [int] NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[file_upload_batch]    Script Date: 05/26/2025 15:52:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[file_upload_batch](
	[id] [int] NOT NULL,
	[user_id] [int] NOT NULL,
	[date_time] [datetime] NOT NULL,
	[submission_status] [int] NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[menu_item]    Script Date: 05/26/2025 15:52:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[menu_item](
	[id] [int] NOT NULL,
	[name] [nvarchar](255) NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[organisation_unit]    Script Date: 05/26/2025 15:52:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[organisation_unit](
	[id] [int] NOT NULL,
	[name] [nvarchar](50) NOT NULL,
	[org_unit_tier_id] [int] NOT NULL,
	[parent_org_unit_id] [int] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[organisation_unit_tier]    Script Date: 05/26/2025 15:52:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[organisation_unit_tier](
	[id] [int] NOT NULL,
	[name] [nvarchar](255) NOT NULL,
	[parent_org_unit_tier_id] [int] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[reconciliation_approvals]    Script Date: 05/26/2025 15:52:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[reconciliation_approvals](
	[id] [int] NOT NULL,
	[file_upload_id] [int] NOT NULL,
	[decision] [nvarchar](50) NOT NULL,
	[approver_id] [int] NOT NULL,
	[level] [int] NOT NULL,
	[comment] [nvarchar](255) NOT NULL,
	[date_time] [datetime] NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[role]    Script Date: 05/26/2025 15:52:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[role](
	[id] [int] NOT NULL,
	[name] [nvarchar](50) NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[role_workflow_breakdown]    Script Date: 05/26/2025 15:52:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[role_workflow_breakdown](
	[id] [int] NOT NULL,
	[role_id] [int] NOT NULL,
	[workflow_breakdown_id] [int] NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[user_role]    Script Date: 05/26/2025 15:52:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[user_role](
	[id] [int] NOT NULL,
	[user_id] [int] NOT NULL,
	[role_id] [int] NOT NULL,
	[start_datetime] [datetime] NOT NULL,
	[expiry_datetime] [datetime] NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[users]    Script Date: 05/26/2025 15:52:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[users](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Username] [nvarchar](50) NULL,
	[Fname] [nvarchar](50) NULL,
	[Mname] [nvarchar](50) NULL,
	[Sname] [nvarchar](50) NULL,
	[Password] [nvarchar](255) NULL,
	[Email] [nvarchar](50) NULL,
	[organisation_unit_id] [int] NOT NULL,
	[organisation_unit_tier_id] [int] NOT NULL,
	[is_active] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[workflow]    Script Date: 05/26/2025 15:52:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[workflow](
	[id] [int] NOT NULL,
	[name] [nvarchar](255) NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[workflow_breakdown]    Script Date: 05/26/2025 15:52:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[workflow_breakdown](
	[id] [int] NOT NULL,
	[workflow_id] [int] NOT NULL,
	[level] [int] NOT NULL,
	[name] [nvarchar](255) NOT NULL,
	[is_responsibility_global] [bit] NOT NULL,
	[menu_item_id] [nvarchar](255) NOT NULL,
	[is_workflow_level] [bit] NOT NULL
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[audit_trail] ADD  DEFAULT (getdate()) FOR [timestamp]
GO
ALTER TABLE [dbo].[bank_account] ADD  DEFAULT ('2025-01-30 12:00:54.727') FOR [creation_date]
GO
ALTER TABLE [dbo].[file_upload] ADD  DEFAULT ((0)) FOR [submission_status]
GO
ALTER TABLE [dbo].[file_upload_batch] ADD  DEFAULT ((0)) FOR [submission_status]
GO
ALTER TABLE [dbo].[organisation_unit] ADD  DEFAULT ((0)) FOR [org_unit_tier_id]
GO
ALTER TABLE [dbo].[organisation_unit] ADD  DEFAULT (NULL) FOR [parent_org_unit_id]
GO
ALTER TABLE [dbo].[organisation_unit_tier] ADD  DEFAULT (NULL) FOR [parent_org_unit_tier_id]
GO
ALTER TABLE [dbo].[workflow_breakdown] ADD  DEFAULT ((0)) FOR [is_workflow_level]
GO
