<!DOCTYPE html>
<html lang="en">
   <head>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <title>
         Bank Reconciliation Tracker -
         {% block title %}

         {% endblock %}
      </title>
      <link rel="icon" href="/static/images/logo_only.png" type="image/x-icon" />
      <link rel="stylesheet" href="/static/bs/css/bootstrap.min.css">
      <link rel="stylesheet" href="/static/bs/css/dataTables.bootstrap5.min.css">
      <link rel="stylesheet" href="/static/bs/css/jquery.dataTables.css">
      <link rel="stylesheet" href="/static/fontawesome/css/all.css">
      <link rel="stylesheet" href="/static/css/styles.css">
      <script src="/static/bs/js/jquery-3.7.1.js"></script>
      <script src="/static/bs/js/dataTables.min.js"></script>
      <script src="/static/bs/js/dataTables.bootstrap5.min.js"></script>
      <script src="/static/bs/js/popper.min.js"></script>
      <script src="/static/bs/js/bootstrap.js"></script>
      <!-- DataTables CSS -->
      <link rel="stylesheet" href="/static/bs/css/jquery.dataTables.min.css">
      <link rel="stylesheet" href="/static/bs/css/buttons.dataTables.min.css">
      <!-- DataTables and Buttons JS -->
      <script src="/static/bs/js/dataTables.buttons.min.js"></script>
      <script src="/static/bs/js/jszip.min.js"></script>
      <script src="/static/bs/js/pdfmake.min.js"></script>
      <script src="/static/bs/js/vfs_fonts.js"></script>
      <script src="/static/bs/js/buttons.html5.min.js"></script>
      <script src="/static/bs/js/buttons.print.min.js"></script>
      <!-- Add Chart.js library -->
      <script src="/static/bs/js/chart.min.js"></script>

      <script>
         //dynamically loading content in the content div
         $(document).ready(function() {

             const dashboardUrl = "{{ url_for('dashboard_page') }}";

             let lastPage = sessionStorage.getItem("lastPage") || dashboardUrl;

             function loadContent(url) {

                 // Check if the content is already loaded
                 if ($(".content").data("current-url") === url) {
                     return; // Exit if content is already loaded
                 }

                 $.get(url, function(data) {
                     let newContent = $(data).find(".content").html();
                     let newPageTitle = $(data).find("[data-page-title]").html();
                     let newTitle = $(data).filter("title").text().trim();

                     if (newContent) {
                         $(".content").html(newContent);
                         $(".content").data("current-url", url); // Store the current URL
                     }

                     if (newPageTitle) {
                         $("#dynamic-page-title").html(newPageTitle);
                     }

                     if (newTitle) {
                         document.title = newTitle;
                     } else {
                         document.title = "Bank Reconciliation Tracker"; // Default title
                     }

                     sessionStorage.setItem("lastPage", url);

                     setActiveNavLink();
                 }).fail(function(jqXHR) {
                     if (jqXHR.status === 401) {
                         // If unauthorized, redirect to the login page; timeout handling
                         const response = JSON.parse(jqXHR.responseText);
                         // Show the session timeout message
                         //alert(response.message);
                         showFlashMessage(response.message, "warning");
                         // Redirect to login page
                         $("#flashMessageModal").on("hidden.bs.modal", function() {
                             window.location.href = response.redirect;
                         });
                     } else {
                         alert("Error loading page.");
                     }
                 });
             }

            $("a.nav-link").off("click").on("click", function(e) {
                const url = $(this).attr("href");

                if (url === "{{ url_for('login_page') }}" || url === "{{ url_for('logout_page') }}") {
                    sessionStorage.removeItem("lastPage");
                    return;
                }

                e.preventDefault();

                // Remove active class from all nav links
                $(".nav-link").removeClass("active");

                // Add active class to the clicked link
                $(this).addClass("active");

                // Load the page content
                loadContent(url);

                history.pushState(null, null, url);
            });


             window.onpopstate = function() {
                 loadContent(location.href);
             };

             $(".menu-collapse-heading").off("click").on("click", function(e) {
                 const url = $(this).attr("href");

                 if (url === "{{ url_for('dashboard_page') }}") {
                     e.preventDefault();

                     if ($(".content").data("current-url") === url) {
                         return;
                     }

                     $("#accordion .panel-collapse.show").collapse("hide");

                     loadContent(url);

                     history.pushState(null, null, url);
                 }
             });

            function setActiveNavLink() {
                $(".nav-link").removeClass("active");
                const currentPath = new URL(window.location.href).pathname;

                $(".nav-link").each(function () {
                    if (new URL(this.href).pathname === currentPath) {
                        $(this).addClass("active");
                    }
                });
            }

             // Flag to check if session timeout check has been done
             let sessionExpiredHandled = false;

             // Attach a one-time event listener to buttons inside .content
             $(".content").on("click", "button", function (e) {
                 if (!sessionExpiredHandled) {
                     sessionExpiredHandled = true;

                     // Send an AJAX request to check session status
                     $.ajax({
                         url: window.location.href, // current page URL
                         type: "GET",
                         headers: {
                             "X-Requested-With": "XMLHttpRequest"
                         },
                         success: function () {
                             sessionExpiredHandled = false; // Reset if successful
                         },
                         error: function (jqXHR) {
                             if (jqXHR.status === 401) {
                                // If it's a 401, handle the session expiry
                                const response = JSON.parse(jqXHR.responseText);

                                // Show the flash message in the modal
                                showFlashMessage(response.message, "warning");

                                // Show the modal immediately
                                 $("#flashMessageModal").modal("show");

                                // After the modal is closed, redirect to the login page
                                $("#flashMessageModal").on("hidden.bs.modal", function() {
                                    window.location.href = response.redirect;
                                });
                             } else {
                                 sessionExpiredHandled = false; // Reset if another error
                             }
                         }
                     });
                 }
             });
         });

         // Dynamically change direction of caret icon
         $(document).on("show.bs.collapse", ".panel-collapse", function() {
             const targetId = $(this).attr("id");
             $(`[href="#${targetId}"]`).find(".caret-icon").addClass("rotated");
         });

         $(document).on("hidden.bs.collapse", ".panel-collapse", function() {
             const targetId = $(this).attr("id");
             $(`[href="#${targetId}"]`).find(".caret-icon").removeClass("rotated");
         });

         function showFlashMessage(message, category) {
             let flashContainer = $("#flash-messages");

             // Clear existing flash messages before adding a new one
             flashContainer.empty();

             let alertHtml = `
                 <div class="alert alert-${category} alert-dismissible fade show" role="alert">
                     ${message}
                     <button type="button" class="m1-2 mb-1 close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                     </button>
                 </div>
             `;
             flashContainer.append(alertHtml);
         }

      </script>

   </head>
   <body>
      <header>
         <nav class="navbar navbar-expand-md navbar-light bg-light" style="background-color: #fff;">
            <a class="navbar-brand" href="">
            <img src="/static/images/logo_5.png" style="height: 80px;">
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav">
            <span class="navbar-toggler-icon"></span>
            </button>
            {% set pages_with_no_navbar_menu = ['/', '/login', '/home']%}
            {% if request.path not in pages_with_no_navbar_menu %}
            <ul class="navbar-nav ml-auto">
                {% if current_user.is_authenticated %}
                <li class="nav-item dropdown">
                  <a class="nav-link2 dropdown-toggle" href="#" id="userDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      {{ " ".join([current_user.fname, current_user.mname, current_user.sname] | select("string") | list) }}
                  </a>
                  <div class="dropdown-menu dropdown-menu-right" aria-labelledby="userDropdown">
                     <a class="dropdown-item" href="{{ url_for('logout_page') }}">Logout</a>
                  </div>
                </li>
                {% endif %}
            </ul>
            {% endif %}
         </nav>
      </header>
      <main style="background-color: #eeeff1;">
         {% set pages_with_no_page_title = ['/', '/login', '/home']%}
         {% if request.path not in pages_with_no_page_title %}
         <div id="dynamic-page-title" style="width:100%; border-bottom: 2px solid #dfdfe0; background-color: #f8f9fa; padding: 5px 5px 5px 10px; font-size: 15px;">
            {% block page_title %}
            {% endblock %}
         </div>
         {% endif %}
         {% set pages_with_no_sidebar = ['/', '/login', '/home']%}
         {% if request.path not in pages_with_no_sidebar %}
         <!-- sidebar start -->
         <input type="checkbox" id="sidebarExpandCollapse">
         <div class="sidebar scrollable full-height-minus-header">
            <div class="row">
               <label for="sidebarExpandCollapse">
               <i class="fa-solid fa-chevron-right" id="sidebar_btn_right"></i>
               </label>
               <label for="sidebarExpandCollapse">
               <i class="fa-solid fa-chevron-left" id="sidebar_btn_left"></i>
               </label>
            </div>
            <div class="panel-group" id="accordion">
               <!-- Static Sidebar Items -->
               <div class="panel panel-default">
                  <div class="panel-heading">
                     <a class="nav-link menu-collapse-heading d-flex align-items-center {% if request.path == url_for('dashboard_page') %} active {% endif %}"
                        href="{{ url_for('dashboard_page') }}">
                     <i class="fa fa-chart-pie"></i>
                     <span>Dashboard</span>
                     <i class="fa fa-caret-down caret-icon" style="visibility: hidden;"></i>
                     </a>
                  </div>
               </div>
               <div class="panel panel-default">
                  <div class="panel-heading">
                     <a data-toggle="collapse" data-parent="#accordion" href="#collapse2"
                        class="menu-collapse-heading d-flex align-items-center">
                     <i class="fa-sharp fa-solid fa-list-check"></i>
                     <span>Actions</span>
                        {% if pending_approvals_count > 0 %}
                           <span class="badge badge-danger rounded-pill ml-1">{{ pending_approvals_count }}</span>
                        {% endif %}
                     <i class="fa fa-caret-down caret-icon"></i>
                     </a>
                  </div>
                  <div id="collapse2" class="panel-collapse collapse" data-parent="#accordion">
                     {% if 'Submit Reconciliations' in menu_items %}
                        <a class="nav-link {% if request.path == url_for('submit_reconciliations_page') %} active {% endif %}"
                           href="{{ url_for('submit_reconciliations_page') }}">
                           <i class="fa-solid fa-paper-plane"></i>
                           <span>Submit Reconciliations</span>
                        </a>
                     {% endif %}

                     {% if 'Submitted Reconciliations' in menu_items %}
                        <a class="nav-link {% if request.path == url_for('submitted_reconciliations_page') %} active {% endif %}"
                           href="{{ url_for('submitted_reconciliations_page') }}">
                        <i class="fa-solid fa-folder"></i>
                        <span>Submitted Reconciliations</span>
                        </a>
                     {% endif %}

                     {% if 'Approve Reconciliations' in menu_items %}
                        <a class="nav-link {% if request.path == url_for('approve_reconciliations_page') %} active {% endif %}"
                           href="{{ url_for('approve_reconciliations_page') }}">
                        <i class="fa fa-check-square"></i>
                        <span>Approve Reconciliations</span>
                           {% if pending_approvals_count > 0 %}
                              <span class="badge badge-danger rounded-pill ml-1">{{ pending_approvals_count }}</span>
                           {% endif %}
                        </a>
                     {% endif %}

                     {% if 'Approved Reconciliations' in menu_items %}
                        <a class="nav-link {% if request.path == url_for('approved_reconciliations_page') %} active {% endif %}"
                           href="{{ url_for('approved_reconciliations_page') }}">
                        <i class="fa-solid fa-folder-open"></i>
                        <span>Approved Reconciliations</span>
                        </a>
                     {% endif %}
                  </div>
                  <div class="panel-heading">
                     <a data-toggle="collapse" data-parent="#accordion" href="#collapse3"
                        class="menu-collapse-heading d-flex align-items-center">
                     <i class="fa-sharp fa-solid fa fa-file"></i>&nbsp;
                     <span>Reports</span>
                     <i class="fa fa-caret-down caret-icon"></i>
                     </a>
                  </div>
                  <div id="collapse3" class="panel-collapse collapse" data-parent="#accordion">
                     {% if 'Report - Reconciliations Pending Submission' in menu_items %}
                        <a class="nav-link {% if request.path == url_for('report_reconciliations_pending_submission_page') %} active {% endif %}"
                           href="{{ url_for('report_reconciliations_pending_submission_page') }}">
                        <i class="fa-solid fa-hourglass-half"></i>
                        <span>Reconciliations Pending Submission</span>
                        </a>
                     {% endif %}

                     {% if 'Report - All Submitted Reconciliations' in menu_items %}
                        <a class="nav-link {% if request.path == url_for('report_all_submitted_reconciliations_page') %} active {% endif %}"
                           href="{{ url_for('report_all_submitted_reconciliations_page') }}">
                        <i class="fa-solid fa-file-invoice-dollar"></i>
                        <span>All Submitted Reconciliations</span>
                        </a>
                     {% endif %}

                     {% if 'Report - Reconciliations Pending Approval' in menu_items %}
                        <a class="nav-link {% if request.path == url_for('report_reconciliations_pending_approval_page') %} active {% endif %}"
                           href="{{ url_for('report_reconciliations_pending_approval_page') }}">
                        <i class="fa-solid fa-clock"></i>
                        <span>Reconciliations Pending Approval</span>
                        </a>
                     {% endif %}

                     {% if 'Report - Fully Approved Reconciliations' in menu_items %}
                        <a class="nav-link {% if request.path == url_for('report_fully_approved_reconciliations_page') %} active {% endif %}"
                           href="{{ url_for('report_fully_approved_reconciliations_page') }}">
                        <i class="fa-solid fa-check-square"></i>
                        <span>Fully Approved Reconciliations</span>
                        </a>
                     {% endif %}
                  </div>

                   <div class="panel-heading">
                     <a data-toggle="collapse" data-parent="#accordion" href="#collapse4"
                        class="menu-collapse-heading d-flex align-items-center">
                     <i class="fa-solid fa-user-tie"></i>&nbsp;
                     <span>Admin</span>
                     <i class="fa fa-caret-down caret-icon"></i>
                     </a>
                  </div>
                  <div id="collapse4" class="panel-collapse collapse" data-parent="#accordion">

                     {% if 'Report - Fully Approved Reconciliations' in menu_items %}
                        <a class="nav-link {% if request.path == url_for('admin_bank_account_responsible_user') %} active {% endif %}"
                           href="{{ url_for('admin_bank_account_responsible_user') }}">
                        <i class="fas fa-user-shield"></i>
                        <span>Bank Account Responsible User</span>
                        </a>
                     {% endif %}

                     {% if 'Report - Fully Approved Reconciliations' in menu_items %}
                        <a class="nav-link {% if request.path == url_for('admin_bank_accounts') %} active {% endif %}"
                           href="{{ url_for('admin_bank_accounts') }}">
                        <i class="fas fa-credit-card"></i>
                        <span>Bank Accounts</span>
                        </a>
                     {% endif %}

                     {% if 'Report - Fully Approved Reconciliations' in menu_items %}
                        <a class="nav-link {% if request.path == url_for('admin_banks') %} active {% endif %}"
                           href="{{ url_for('admin_banks') }}">
                        <i class="fas fa-university"></i>
                        <span>Banks</span>
                        </a>
                     {% endif %}

                     {% if 'Report - Fully Approved Reconciliations' in menu_items %}
                        <a class="nav-link {% if request.path == url_for('admin_currencies') %} active {% endif %}"
                           href="{{ url_for('admin_currencies') }}">
                        <i class="fas fa-credit-card"></i>
                        <span>Currencies</span>
                        </a>
                     {% endif %}

                     {% if 'Report - Fully Approved Reconciliations' in menu_items %}
                        <a class="nav-link {% if request.path == url_for('admin_organisation_unit') %} active {% endif %}"
                           href="{{ url_for('admin_organisation_unit') }}">
                        <i class="fas fa-sitemap"></i>
                        <span>Organisation Unit</span>
                        </a>
                     {% endif %}

                     {% if 'Report - Fully Approved Reconciliations' in menu_items %}
                        <a class="nav-link {% if request.path == url_for('admin_organisation_unit_tier') %} active {% endif %}"
                           href="{{ url_for('admin_organisation_unit_tier') }}">
                        <i class="fas fa-layer-group"></i>
                        <span>Organisation Unit Tier</span>
                        </a>
                     {% endif %}

                     {% if 'Report - Reconciliations Pending Approval' in menu_items %}
                        <a class="nav-link {% if request.path == url_for('admin_role_workflow_breakdown') %} active {% endif %}"
                           href="{{ url_for('admin_role_workflow_breakdown') }}">
                        <i class="fas fa-people-arrows"></i>
                        <span>Role Workflow Breakdown</span>
                        </a>
                     {% endif %}

                     {% if 'Report - Reconciliations Pending Approval' in menu_items %}
                        <a class="nav-link {% if request.path == url_for('admin_roles') %} active {% endif %}"
                           href="{{ url_for('admin_roles') }}">
                        <i class="fas fa-users-cog"></i>
                        <span>Roles</span>
                        </a>
                     {% endif %}

                     {% if 'Report - All Submitted Reconciliations' in menu_items %}
                        <a class="nav-link {% if request.path == url_for('admin_user_roles_page') %} active {% endif %}"
                           href="{{ url_for('admin_user_roles_page') }}">
                        <i class="fas fa-user-tag"></i>
                        <span>User Roles</span>
                        </a>
                     {% endif %}

                     {% if 'Report - Reconciliations Pending Submission' in menu_items %}
                        <a class="nav-link {% if request.path == url_for('admin_users_page') %} active {% endif %}"
                           href="{{ url_for('admin_users_page') }}">
                        <i class="fas fa-users"></i>
                        <span>Users</span>
                        </a>
                     {% endif %}

                     {% if 'Report - Reconciliations Pending Submission' in menu_items %}
                        <a class="nav-link {% if request.path == url_for('admin_workflow_breakdown') %} active {% endif %}"
                           href="{{ url_for('admin_workflow_breakdown') }}">
                        <i class="fas fa-cubes"></i>
                        <span>Workflow Breakdown</span>
                        </a>
                     {% endif %}

                     {% if 'Report - Reconciliations Pending Submission' in menu_items %}
                        <a class="nav-link {% if request.path == url_for('admin_workflows_page') %} active {% endif %}"
                           href="{{ url_for('admin_workflows_page') }}">
                        <i class="fas fa-redo-alt"></i>
                        <span>Workflows</span>
                        </a>
                     {% endif %}

                  </div>
                  <div class="panel panel-default">
                     <div class="panel-heading">
                        <a class="nav-link" href="{{ url_for('logout_page') }}" onclick="event.preventDefault(); window.location.href='{{ url_for('logout_page') }}';"> <i class="fa-solid fa-right-from-bracket"></i><span>Logout</span><i class="fa fa-caret-down caret-icon" style="visibility: hidden;"></i></a>
                     </div>
                  </div>
               </div>
            </div>
         </div>
         <!-- sidebar end -->
         {% endif %}
         <div class="content scrollable full-height-minus-header">
            <div id="flash-messages">
               {% with messages = get_flashed_messages(with_categories=true) %}
               {% if messages %}
               {% for category, message in messages %}
               <div class="alert alert-{{ category }} alert-dismissible fade show" role="alert">
                  {{ message }}
                  <button type="button" class="m1-2 mb-1 close" data-dismiss="alert" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                  </button>
               </div>
               {% endfor %}
               {% endif %}
               {% endwith %}
            </div>
            {% block content %}
            {% endblock %}

            {% include 'includes/confirmation_modal.html' %}
            {% include 'includes/user_add_modal.html' %}
            {% include 'includes/user_edit_modal.html' %}
            {% include 'includes/user_password_change_modal.html' %}
            {% include 'includes/role_add_modal.html' %}
            {% include 'includes/role_edit_modal.html' %}
            {% include 'includes/user_role_add_modal.html' %}
            {% include 'includes/user_role_edit_modal.html' %}
            {% include 'includes/bank_add_modal.html' %}
            {% include 'includes/bank_edit_modal.html' %}
            {% include 'includes/bank_account_add_modal.html' %}
            {% include 'includes/bank_account_edit_modal.html' %}
            {% include 'includes/currency_add_modal.html' %}
            {% include 'includes/currency_edit_modal.html' %}
            {% include 'includes/bank_account_responsible_user_add_modal.html' %}
            {% include 'includes/bank_account_responsible_user_edit_modal.html' %}
            {% include 'includes/organisation_unit_tier_add_modal.html' %}
            {% include 'includes/organisation_unit_tier_edit_modal.html' %}
            {% include 'includes/organisation_unit_add_modal.html' %}
            {% include 'includes/organisation_unit_edit_modal.html' %}
            {% include 'includes/workflow_add_modal.html' %}
            {% include 'includes/workflow_edit_modal.html' %}
            {% include 'includes/role_workflow_breakdown_add_modal.html' %}
            {% include 'includes/role_workflow_breakdown_edit_modal.html' %}
            {% include 'includes/flash_message_modal.html' %}
            {% include 'includes/reconciliation_file_details_modal.html' %}
         </div>
      </main>
   </body>
</html>

<script>
   function showFlashMessage(message, type) {
       let title = "Notification"; // Default title

       if (type === "danger") {
           title = "Error";
       } else if (type === "success") {
           title = "Success";
       } else if (type === "warning") {
           title = "Warning";
       }

       $("#flashMessageTitle").text(title);
       $("#flashMessageBody").html(message);
       $("#flashMessageModal").modal("show");
   }

   // Global AJAX error handler
   $(document).ajaxError(function(event, jqXHR, settings, errorThrown) {
       if (jqXHR.status === 401) {
           // If it's a 401, handle the session expiry
           const response = JSON.parse(jqXHR.responseText);

           // Show the flash message in the modal
           showFlashMessage(response.message, "warning");

           // Show the modal immediately
            $("#flashMessageModal").modal("show");

           // After the modal is closed, redirect to the login page
           $("#flashMessageModal").on("hidden.bs.modal", function() {
               window.location.href = response.redirect;
           });
       }
   });

</script>
