<!DOCTYPE html>
<html lang="en">
   <head>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <title>
         Bank Reconciliation Tracker -
         {% block title %}

         {% endblock %}
      </title>
      <link rel="icon" href="/static/images/logo_only.png" type="image/x-icon" />
      <link rel="stylesheet" href="/static/bs/css/bootstrap.min.css">
      <link rel="stylesheet" href="/static/bs/css/dataTables.bootstrap5.min.css">
      <link rel="stylesheet" href="/static/bs/css/jquery.dataTables.css">
      <link rel="stylesheet" href="/static/fontawesome/css/all.css">
      <link rel="stylesheet" href="/static/css/styles.css">
      <script src="/static/bs/js/jquery-3.7.1.js"></script>
      <script src="/static/bs/js/dataTables.min.js"></script>
      <script src="/static/bs/js/dataTables.bootstrap5.min.js"></script>
      <script src="/static/bs/js/popper.min.js"></script>
      <script src="/static/bs/js/bootstrap.js"></script>
      <!-- DataTables CSS -->
      <link rel="stylesheet" href="/static/bs/css/jquery.dataTables.min.css">
      <link rel="stylesheet" href="/static/bs/css/buttons.dataTables.min.css">
      <!-- DataTables and Buttons JS -->
      <script src="/static/bs/js/dataTables.buttons.min.js"></script>
      <script src="/static/bs/js/jszip.min.js"></script>
      <script src="/static/bs/js/pdfmake.min.js"></script>
      <script src="/static/bs/js/vfs_fonts.js"></script>
      <script src="/static/bs/js/buttons.html5.min.js"></script>
      <script src="/static/bs/js/buttons.print.min.js"></script>
      <!-- Add Chart.js library -->
      <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

      <script>
         //dynamically loading content in the content div
         $(document).ready(function() {

             const dashboardUrl = "{{ url_for('dashboard_page') }}";

             let lastPage = sessionStorage.getItem("lastPage") || dashboardUrl;

             function loadContent(url) {

                 // Check if the content is already loaded
                 if ($(".content").data("current-url") === url) {
                     return; // Exit if content is already loaded
                 }

                 $.get(url, function(data) {
                     let newContent = $(data).find(".content").html();
                     let newPageTitle = $(data).find("[data-page-title]").html();
                     let newTitle = $(data).filter("title").text().trim();

                     if (newContent) {
                         $(".content").html(newContent);
                         $(".content").data("current-url", url); // Store the current URL
                     }

                     if (newPageTitle) {
                         $("#dynamic-page-title").html(newPageTitle);
                     }

                     if (newTitle) {
                         document.title = newTitle;
                     } else {
                         document.title = "Bank Reconciliation Tracker"; // Default title
                     }

                     sessionStorage.setItem("lastPage", url);

                     setActiveNavLink();
                 }).fail(function() {
                     alert("Error loading page.");
                 });
             }

             $("a.nav-link").off("click").on("click", function(e) {
                 const url = $(this).attr("href");

                 if (url === "{{ url_for('login_page') }}" || url === "{{ url_for('logout_page') }}") {
                     sessionStorage.removeItem("lastPage");
                     return;
                 }

                 e.preventDefault();

                 loadContent(url);

                 history.pushState(null, null, url);
             });

             window.onpopstate = function() {
                 loadContent(location.href);
             };

             $(".menu-collapse-heading").off("click").on("click", function(e) {
                 const url = $(this).attr("href");

                 if (url === "{{ url_for('dashboard_page') }}") {
                     e.preventDefault();

                     if ($(".content").data("current-url") === url) {
                         return;
                     }

                     $("#accordion .panel-collapse.show").collapse("hide");

                     loadContent(url);

                     history.pushState(null, null, url);
                 }
             });

             function setActiveNavLink() {
                 $(".nav-link").removeClass("active");
                 $(".nav-link").each(function() {
                     if (this.href === window.location.href) {
                         $(this).addClass("active");
                     }
                 });
             }
         });

         // Dynamically change direction of caret icon
         $(document).on("show.bs.collapse", ".panel-collapse", function() {
             $(this).closest(".panel").find(".caret-icon").addClass("rotated");
         });

         $(document).on("hidden.bs.collapse", ".panel-collapse", function() {
             $(this).closest(".panel").find(".caret-icon").removeClass("rotated");
         });

         function showFlashMessage(message, category) {
             let flashContainer = $("#flash-messages");

             // Clear existing flash messages before adding a new one
             flashContainer.empty();

             let alertHtml = `
                 <div class="alert alert-${category} alert-dismissible fade show" role="alert">
                     ${message}
                     <button type="button" class="m1-2 mb-1 close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                     </button>
                 </div>
             `;
             flashContainer.append(alertHtml);
         }

      </script>

   </head>
   <body>
      <header>
         <nav class="navbar navbar-expand-md navbar-light bg-light" style="background-color: #fff;">
            <a class="navbar-brand" href="">
            <img src="/static/images/logo_5.png" style="height: 80px;">
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav">
            <span class="navbar-toggler-icon"></span>
            </button>
            {% set pages_with_no_navbar_menu = ['/', '/login', '/home']%}
            {% if request.path not in pages_with_no_navbar_menu %}
            <ul class="navbar-nav ml-auto">
                {% if current_user.is_authenticated %}
                <li class="nav-item dropdown">
                  <a class="nav-link2 dropdown-toggle" href="#" id="userDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      {{ " ".join([current_user.fname, current_user.mname, current_user.sname] | select("string") | list) }}
                  </a>
                  <div class="dropdown-menu dropdown-menu-right" aria-labelledby="userDropdown">
                     <a class="dropdown-item" href="{{ url_for('logout_page') }}">Logout</a>
                  </div>
                </li>
                {% endif %}
            </ul>
            {% endif %}
         </nav>
      </header>
      <main style="background-color: #eeeff1;">
         {% set pages_with_no_page_title = ['/', '/login', '/home']%}
         {% if request.path not in pages_with_no_page_title %}
         <div id="dynamic-page-title" style="width:100%; border-bottom: 2px solid #dfdfe0; background-color: #f8f9fa; padding: 5px 5px 5px 10px; font-size: 15px;">
            {% block page_title %}
            {% endblock %}
         </div>
         {% endif %}
         {% set pages_with_no_sidebar = ['/', '/login', '/home']%}
         {% if request.path not in pages_with_no_sidebar %}
         <!-- sidebar start -->
         <input type="checkbox" id="sidebarExpandCollapse">
         <div class="sidebar scrollable full-height-minus-header">
            <div class="row">
               <label for="sidebarExpandCollapse">
               <i class="fa-solid fa-chevron-right" id="sidebar_btn_right"></i>
               </label>
               <label for="sidebarExpandCollapse">
               <i class="fa-solid fa-chevron-left" id="sidebar_btn_left"></i>
               </label>
            </div>
            <div class="panel-group" id="accordion">
               <!-- Static Sidebar Items -->
               <div class="panel panel-default">
                  <div class="panel-heading">
                     <a class="nav-link menu-collapse-heading d-flex align-items-center {% if request.path == url_for('dashboard_page') %} active {% endif %}"
                        href="{{ url_for('dashboard_page') }}">
                     <i class="fa fa-chart-pie"></i>
                     <span>Dashboard</span>
                     <i class="fa fa-caret-down caret-icon" style="visibility: hidden;"></i>
                     </a>
                  </div>
               </div>
               <div class="panel panel-default">
                  <div class="panel-heading">
                     <a data-toggle="collapse" data-parent="#accordion" href="#collapse2"
                        class="menu-collapse-heading d-flex align-items-center">
                     <i class="fa-sharp fa-solid fa-list-check"></i>
                     <span>Actions</span>
                     <i class="fa fa-caret-down caret-icon"></i>
                     </a>
                  </div>
                  <div id="collapse2" class="panel-collapse collapse" data-parent="#accordion">
                     {% if 'Submit Reconciliations' in menu_items %}
                        <a class="nav-link {% if request.path == url_for('submit_reconciliations_page') %} active {% endif %}"
                           href="{{ url_for('submit_reconciliations_page') }}">
                           <i class="fa-solid fa-paper-plane"></i>
                           <span>Submit Reconciliations</span>
                        </a>
                     {% endif %}

                     {% if 'Submitted Reconciliations' in menu_items %}
                        <a class="nav-link {% if request.path == url_for('submitted_reconciliations_page') %} active {% endif %}"
                           href="{{ url_for('submitted_reconciliations_page') }}">
                        <i class="fa-solid fa-folder"></i>
                        <span>Submitted Reconciliations</span>
                        </a>
                     {% endif %}

                     {% if 'Approve Reconciliations' in menu_items %}
                        <a class="nav-link {% if request.path == url_for('approve_reconciliations_page') %} active {% endif %}"
                           href="{{ url_for('approve_reconciliations_page') }}">
                        <i class="fa fa-check-square"></i>
                        <span>Approve Reconciliations</span>
                        </a>
                     {% endif %}

                     {% if 'Approved Reconciliations' in menu_items %}
                        <a class="nav-link {% if request.path == url_for('approved_reconciliations_page') %} active {% endif %}"
                           href="{{ url_for('approved_reconciliations_page') }}">
                        <i class="fa-solid fa-folder-open"></i>
                        <span>Approved Reconciliations</span>
                        </a>
                     {% endif %}
                  </div>
                  <div class="panel panel-default">
                     <div class="panel-heading">
                        <a class="nav-link" href="{{ url_for('logout_page') }}" onclick="event.preventDefault(); window.location.href='{{ url_for('logout_page') }}';"> <i class="fa-solid fa-right-from-bracket"></i><span>Logout</span><i class="fa fa-caret-down caret-icon" style="visibility: hidden;"></i></a>
                     </div>
                  </div>
               </div>
            </div>
         </div>
         <!-- sidebar end -->
         {% endif %}
         <div class="content scrollable full-height-minus-header">
            <div id="flash-messages">
               {% with messages = get_flashed_messages(with_categories=true) %}
               {% if messages %}
               {% for category, message in messages %}
               <div class="alert alert-{{ category }} alert-dismissible fade show" role="alert">
                  {{ message }}
                  <button type="button" class="m1-2 mb-1 close" data-dismiss="alert" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                  </button>
               </div>
               {% endfor %}
               {% endif %}
               {% endwith %}
            </div>
            {% block content %}
            {% endblock %}
         </div>
      </main>
   </body>
</html>
