{% extends 'base.html' %}

{% block title %}
    Login Page
{% endblock %}

{% block content %}
<link rel="stylesheet" href="/static/css/login_page_styles.css">
<body class="text-center">
    <div class="container" id="container_login_form" style="margin-bottom: 10px;">
        <div style="padding: 20px 0;">
            <h1 class="h3 font-weight-normal" style="font-size: 33px;">
                Welcome to UETCL Bank Reconciliation Tracker
            </h1>
        </div>
        <form method="POST" class="form-signin">
            {{ form.hidden_tag() }}

            <h1 class="h3 font-weight-bold">
                Log in
            </h1>
            <p class="font-weight-normal" style="font-size: 20px;">
                Please enter your username and password
            </p>

            {{ form.username(class="form-control", placeholder="Username") }}
            <br>
            {{ form.password(class="form-control", placeholder="Password") }}
            <br>
            {{ form.submit(class="btn btn-sm btn-outline-custom", style="padding: 8px 15px; font-size: 17px;") }}

        </form>
    </div>
</body>
{% endblock %}