<!-- Flash Message Modal -->
<div id="flashMessageModal" class="modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 id="flashMessageTitle" class="modal-title">Message</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div id="flashMessageBody" class="modal-body text-center">
                <!-- Message content will be inserted here -->
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-outline-custom2" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
